
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10px; 
    background-color:whitesmoke;
    box-shadow: 0px 13px 20px rgba(83, 81, 81, 0.196);
}

.header .logo {
    width: 250px; 
}

.header .navbar-list {
    display: flex;
    font-weight: 500;
    font-size: 15px; 
    margin-top: 16px;
    margin-right: 100px;
    list-style-type: none;
    box-shadow: 0px 13px 20px rgba(83, 81, 81, 0.196);
    animation: growDown 400ms ease forwards;
    transform-origin: 0 0 0;
}

.navbar-list li {
    position: relative;
    margin: 5px 15px;
    padding: 0;
}

.navbar-list li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin: 12px; 
}

.navbar-list li a:hover {
    cursor: pointer;
    color: rgb(42, 42, 79);
}

/* ELEMENTS OF DROPDOWN MENU ------------------------------- */

.dropdown__menu{
    display: none;
}

.navbar-list li:hover .dropdown__menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    border-radius: 3px; 
    box-shadow: 0px 13px 20px rgba(83, 81, 81, 0.196);
    animation: growDown 300ms ease forwards;
    transform-origin: 0 0 0;
}


@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    100% {
        transform: scaleY(1)
    }
}

.dropdown__menu::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 4px solid rgb(25, 15, 101);
    width: 20%;
    border-radius: 5px;
    animation: borderAnimationIn 300ms ease  ;
} 

 @keyframes borderAnimationIn {
    from {width:0%}
    to {width:20%}
  }

/* Separate code for contact us dropdown */
#contact_us:hover .dropdown__menu {
    left: -52px; 
}
/* Separate code ends */

.dropdown__menu ul {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 2px; 
}

.dropdown__menu ul li {
    display: flex;
    width: 150px; 
    padding: 4px; 
    margin-top: 10px;
    border-radius: 3px; 
    transition: background-color 0.2s ease-in-out 0s;
}

.dropdown__menu ul li:hover {
    background-color: rgb(23, 23, 150);
}

.dropdown__menu ul li a {
    color: rgb(78, 76, 76);
    font-weight: 500;
    font-size: 12px;
}

.dropdown__menu ul li:hover a {
    color: white;
}

  /* ---------------------------------------*/
 /* ---------------------------------------*/
/* Styling for Tablets and Mobile screens */

.btn_toggle{
    border: none;
    background: transparent;
    display: none;
}


@media only screen and (max-width: 1135px) {
    
    .navbar-list li a{
        font-size: 0.85em;
    }
    .navbar-list li{
        margin: 0.313em;
    }
    .dropdown__menu ul li a {
        font-size: 11px; 
    }
}
/* ------------------------------------------ */
@media only screen and (max-width: 940px) {
    .header{
        height: 6em;
    }
    .header .logo{
        width: 10em;
    }
    .navbar-list li a{
        font-size: 0.75em;
    }
    .dropdown__menu ul{
        padding-top: 0.125em;
    }
    .dropdown__menu ul li{
        width: 6rem;
    }
    .navbar-list li:hover .dropdown__menu{
        left:6px;
    }
    #contact_us:hover .dropdown__menu{
        left: -15px;
    }
    .dropdown__menu ul li a {
        font-size: 10px; 
    }
}

/* ------------------------------------------ */

@media only screen and (max-width: 768px){
   
    .header .navbar-list {
        /* background-image: linear-gradient(to right top, #acb8b7, #48aabd, #0094da, #0074f3, #123eeb);     */
        position:absolute;
        top: 80px;
        left: 1px;
        flex-direction: column;
        width: 100%;       
        overflow:hidden;
        background: #fff;
        /* opacity: 0.95; */
    }

    .navbar_list-items{
        width: fit-content;        
    }

    .navbar_list-items:hover{
        margin-bottom: 150px;
    }
    
    .navbar-list li a{
        font-size: 15px;
        color: rgb(5, 44, 92);
    }
     
    .navbar-list li:hover .dropdown__menu{
        background: #fff;
    }
    

    .dropdown__menu ul li{
        align-items: center;
        width: 200px; 
        height: 38px;
        transition: background-color 0.2s ease-in-out;
    }
    .dropdown__menu ul li a {
        font-size: 13px; 
    }

    .ContainerMenu{
        display: none;
    }

     /* ---------------------------------------------------------------- */
    /*--------------------toggle effect styling -----------------------*/
    
    /* #btn_x:hover .header .navbar-list{
         border:2px solid black;
         box-shadow: 0px 13px 20px rgba(83, 81, 81, 0.196);
         animation: collapse 400ms ease forwards;
         transform-origin: 0 0 0;
    }

    @keyframes collapse {
    from {
        transform: scaleY(1)
         }

    to{
        transform: scaleY(0)
      }
  } */

    .btn_toggle{
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
     }

    #btn_bars{
        width: 42px;
    }
   
    #btn_x{
        display: none;
        width: 42px;
    }
    

     /* ---------------------------------------------------------------- */
    /*--------------------toggle effect styling -----------------------*/

}